<!-- 文章封面图正中标题下方居中显示：作者、发布时间、字数、阅读时间、阅读数  -->
<% if (page.meta !==false) { %>
  <div class="post-meta-typewriter-wrapper">
    <div class="post-meta-typewriter" id="post-meta-typewriter">
      <div class="post-meta-center">
        <% if (theme.post.meta.author && theme.post.meta.author.enable && (page.author || config.author)) { %>
          <span class="post-meta-item">
            <i class="iconfont icon-author" aria-hidden="true"></i>
            <%- page.author || config.author %>
          </span>
          <% } %>

            <% if (theme.post.meta.date.enable) { %>
              <span class="post-meta-item">
                <i class="iconfont icon-date-fill" aria-hidden="true"></i>
                <time datetime="<%= full_date(page.date, 'YYYY-MM-DD HH:mm') %>" pubdate>
                  <%= full_date(page.date, theme.post.meta.date.format) %>
                </time>
              </span>
              <% } %>

                <% if (theme.post.meta.wordcount.enable) { %>
                  <span class="post-meta-item">
                    <i class="iconfont icon-chart"></i>
                    <%- __('post.meta.wordcount', wordcount(page)) %>
                  </span>
                  <% } %>

                    <% if (theme.post.meta.min2read.enable) { %>
                      <span class="post-meta-item">
                        <i class="iconfont icon-clock-fill"></i>
                        <%- __('post.meta.min2read', min2read(page, { awl: 4, wpm: 180 })) %>
                      </span>
                      <% } %>

                        <% var views_texts=(theme.post.meta.views.format || __('post.meta.views')).split('{}') %>
                          <% if (theme.post.meta.views.enable && views_texts.length>= 2) { %>
                            <% if (theme.post.meta.views.source==='busuanzi' ) { %>
                              <span id="busuanzi_container_page_pv" class="post-meta-item">
                                <i class="iconfont icon-eye" aria-hidden="true"></i>
                                <%- views_texts[0] %><span id="busuanzi_value_page_pv">...</span><%- views_texts[1] %>
                              </span>
                              <% import_js(theme.static_prefix.busuanzi, 'busuanzi.pure.mini.js' , 'defer' ) %>
                                <% } %>
                                  <% } %>
      </div>
    </div>
  </div>
  <% } %>